body {
	font-family: Helvetica;
	background-color: #525252;
}

.container {
	width: 600px;
	margin: auto;
}

h3 {
	margin: 0;
	padding: 10px 0;
}

.header {
	margin: 10px 0;
	overflow: hidden;
}

.content {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 30px 0;
}

.footer {
	padding: 20px;
}

#nav {
	width: 400px;
	margin: 35px auto;
	float: right;
	text-align: center;
}

#nav a {
	color: black;
	margin: 0 10px;
}



form label {
	display: block;
}

.helptext {
	display: block;
	color: gray;
}

